:root {
    --blood: #8F3D3A; 
    --accent: #CFAE23;
    --background: #ebebeb;
    --grey: #666666;
    --highlight: #d9d9d9;
}

body {
    background-color: var(--background);
    font-family: "Fira Code";
}

.main-container {
    position: relative;
    width: 400px;
    height: 690;
    margin-left: auto;
    margin-right: auto;
    perspective: 500px;
    line-height: 0.9;
}

.main-box {
    position: fixed;
    width: 280px;
    top: 110px;
    left: 50%;
    margin-left: -185px;
    text-align: center;
    background-color: var(--background);
    padding: 0.5em;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.highlight {
    display: inline-block;
    background-color: var(--highlight);
    border: none;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.guillotine {
    width: 275px;
    height: 470px;
    position: fixed;
    left: 50%;
    top: 50px;
    margin-left: -95px;
    border: 2px solid black;
    border-bottom: none;
    transform: rotateY(-20deg);
}

.blade {
    position: fixed;
    top: 62px;
    left: 50%;
    width: 265px;
    height: 35px;
    margin-left: -88px;
    background-color: var(--grey);
    transform: rotateY(-20deg);
}

.blade.drop {
	animation: drop 0.4s forwards;	
    border-bottom: 10px solid var(--blood);
}

@keyframes drop {
    0% {
        top: 62px;
    }
    100% {
        top: 470px;
    }
}

.bucket {
    position: relative;
    top: 525px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 130px;
    transform: rotateY(-5deg);
}

select {
    width: 100%;
    background-color: var(--highlight);
    border: none;
    border-radius: 0px;
    padding: 10px;
    text-align: center;
}

input {
    width: 50%;
    background-color: var(--highlight);
    border: 1px solid var(--highlight);
    border-radius: 0px;
    padding: 10px;
    transition: all 0.8s;
    text-align: center;
}

.text {
    padding: 10px;
}

.button {
    display: inline-block;
    width: 50%;
    padding: 10px;
    font-weight: bold;
}

input:hover {
    color: var(--blood);
    border: 1px solid var(--blood);
}

.small-button {
    width: auto;
    padding: 10px;
}

#recipe-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
    width: 400px;
}

.recipe-header {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 130%;
}

.recipe {
    padding: 10px;
    width: 100%;
}

#recipe-title {
    color: var(--blood);
    font-weight: bold;
    font-size: 120%;
}

#recipe-content {
    padding: 5px;
    color: var(--grey);
}

.result {
    display: inline-block;
    color: var(--blood);
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 600%;
    margin-top: 5px;
}

.result-units {
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 150%;
}

.construction {
    position: fixed;
    top: 5px;
    left: 50%;
    margin-left: -285px;
    background-image: url(construction.gif);
    width: 573;
    height: 18;
}

@media only screen and (max-width: 800px) {
}