:root {
    --blood: #8F3D3A; 
    --accent: #CFAE23;
    --background: #ebebeb;
    --grey: #666666;
    --highlight: #d9d9d9;
}

body {
    background-color: var(--background);
    font-family: sans-serif;
    perspective: 500px;
}

.main-box {
    position: fixed;
    width: 280px;
    top: 110px;
    left: 50%;
    margin-left: -140px;
    text-align: center;
    background-color: var(--background);
    padding: 0.5em;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.highlight {
    display: inline-block;
    background-color: var(--highlight);
    border: none;
    padding: 5px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.guillotine {
    width: 275px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50px;
    margin-left: -50px;
    border: 2px solid black;
    border-bottom: none;
    transform: rotateY(-20deg);
}

.blade {
    position: fixed;
    top: 62px;
    left: 50%;
    width: 265px;
    height: 35px;
    margin-left: -43px;
    background-color: var(--grey);
    transform: rotateY(-20deg);
}

.bucket {
    position: relative;
    top: 540px;
    left: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    height: 35px;
    border: 2px dashed black;
    border-top: none;
    transform: rotateY(-20deg);
}

.blade.drop {
	animation: drop 0.6s forwards;	
    border-bottom: 10px solid var(--blood);
}

select {
    width: 100%;
    background-color: var(--highlight);
    border: none;
    border-radius: 0px;
    padding: 10px;
    text-align: center;
}

input {
    width: 50%;
    background-color: var(--highlight);
    border: none;
    border-radius: 0px;
    padding: 10px;
}

.text {
    padding: 10px;
}

.button {
    padding: 10px;
}

.small-button {
    width: auto;
    padding: 10px;
}

#recipe {
    position: absolute;
    top: 50px;
    left: 50%;
    padding: 10px;
    border: 1px solid var(--blood);
    width: 250px;
    height: 500px;
    margin-left: -450px;
    text-align: center;
    display: none;
}

#recipe-title {
    color: var(--blood);
    font-weight: bold;
}

#recipe-content {
    padding: 5px;
}

@keyframes drop {
    0% {
        top: 12px;
    }
    100% {
        top: 500px;
    }
}